<h2>Bienvenue <%= shop.legalName %>,</h2>
<p>Vous êtes inscrit sur <%= process.env.REACT_APP_THIS_WEBSITE_URL %>.</p>
<p>
  Une fois abonné, vous pourrez lancer des scripts et mettre à jour vos prix à
  volonté.
</p>
<p>
  Pour toute question, merci de nous contacter à l'adresse suivante :
  support@mtginterface.com
</p>
<p>Merci,</p>
<p>L'équipe MTG Interface</p>
