<h2>Bonjour,</h2>

<p>Votre script de test est terminé.</p>

<p>
  Le script de test a affecté 0 carte. Cela peut arriver pour plusieurs raisons :  <ul>
    <li>Aucune carte ne possédait les mots-clefs du script</li>
    <li>Aucune carte ayant les mots-clefs du script n'était dans les formats précisés</li>
  </ul>
</p>

<p>Vous trouverez le récapitulatif des modifications en pièce jointe.</p>

<p>Vous pouvez vérifier les paramètres du script de test, les modifier, et lancer le script à nouveau.</p>

<p>
  Si vous avez une question, répondez à cet email, nous reviendrons vers vous.
</p>

<p>Cordialement,</p>
<p>L'équipe MTG Interface</p>

