<h2>Bonjour,</h2>

<p>Votre script de test est terminé.</p>

<p>Vous trouverez le récapitulatif des modifications en pièce jointe.</p>

<p>
  Si vous souhaitez lancer ce script, vous pouvez cliquer sur "Lancer" dans
  votre espace "Mes Scripts".
</p>

<p>
  Si vous avez une question, répondez à cet email, nous reviendrons vers vous.
</p>

<p>Cordialement,</p>
<p>L'équipe MTG Interface</p>
