<html>
  <head>
    <title>Update your stock prices in one click</title>
    <style>
      :root {
        --main-bg-color: coral;
        --main-bg-color-darker: hsl(16, 90%, 66%);
        --main-bg-color-almost: rgba(255, 127, 80, 0.9);
        --main-bg-color-more: rgba(255, 127, 80, 0.7);
        --main-bg-color-medium: rgba(255, 127, 80, 0.5);
        --main-bg-color-weak: rgba(255, 127, 80, 0.3);
        --background-color: #f9f9f9;
        --border-radius-form-field: 8px;
        --back-office-back-color: rgba(173, 216, 230, 0.8);
      }

      #root {
        background-color: var(--background-color);
      }
      * {
        box-sizing: border-box;
      }

      html {
        font-size: 62.5%;
        margin: 0;
        padding: 0;
      }

      body {
        background-color: lightblue;
        margin: 0;
        padding: 0;
      }

      .container {
        max-width: 70%;
        margin: 0 auto;
      }

      p,
      ul,
      li,
      div,
      td {
        font-size: 1.6rem;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }

      #root {
        min-height: 100vh; /* will cover the 100% of viewport */
        overflow: hidden;
        display: block;
        position: relative;
        padding-bottom: 120px; /* height of the footer */
      }


      /* Black Div */
      .blackDiv {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 2;
        background-color: rgba(0, 0, 0);
        opacity: 0.5;
        animation: blackDivAppearing 0.5s;
      }

      
        @keyframes blackDivAppearing {
          0% {
            opacity: 0;
          }
          100% {
            opacity: 0.5;
          }
        }

      /* Menu */

      .classic-links {
        margin: 1rem;
        padding: 1rem;
        text-decoration: none;
        color: black;
        border-radius: 50px;
      }

      .classic-links:hover {
        background-color: var(--main-bg-color);
        cursor: pointer;
      }

      nav {
        background-color: white;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
      }

      nav > .container {
        display: flex;
        justify-content: space-between;
      }

      .menu-links-left {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .logo-shop-link {
        margin-right: 30px;
      }

      .navbar {
        position: fixed;
        top: 0;
        z-index: 8;
        width: 100%;
        background-color: white;
        min-height: 61px;
      }

      .navbar input[type="search"] {
        border: 1px solid rgba(0, 0, 0, 0.5);
      }

      div.connect {
        display: flex;
      }

      div.connect p {
        padding-left: 2rem;
      }

      .margin-bottom {
        margin-bottom: 7rem;
      }

      .arrow-menu.importedStyle {
        top: 4px;
      }
      .current-app-lang {
        position: relative;
        width: 40px;
        outline: none;
      }

      .flag-drop-down {
        cursor: pointer;
        padding: 5px;
        background-color: var(--background-color);
      }

      .set-lang-choosing {
        position: absolute;
        top: 28px;
        right: 8px;
        left: 0;
        box-shadow: 1px 1px 1px black;
        z-index: 2;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        text-align: center;
      }

      .set-lang-choosing .flag-drop-down:last-child {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }

      .current-app-lang img {
        border-radius: 3px;
        outline: none;
      }

      .current-lang-flag {
        position: absolute;
        cursor: pointer;
        padding-right: 1rem;
        top: 26px;
        margin-left: 0px;
      }

      /* Floating div with flags */
      .importedStyle.set-lang-choosing.lang-select-applevel{
      line-height: 25px;
      top: 18px;
      height : 62px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      background-color: var(--background-color);
      display:none;
      }

      .arrow-app-lang {
        position: absolute;
        right: 0px;
      }

      div.lang-select-applevel {
        width: 35px;
        right: 12px;
        left: -3px;
        outline: none;
      }

      /* Arrow to toggle menu */
      .arrow-menu {
        display: inline-block;
        width: 0;
        height: 0;
        vertical-align: middle;
        content: "";
        border-top-style: solid;
        border-top-width: 4px;
        border-right: 4px solid transparent;
        border-bottom: 0 solid transparent;
        border-left: 4px solid transparent;
        margin-left: 5px;
      }

      .burgerMenuHomePage {
        display :none;
      }

      /* Responsive Menu */
      .responsive_menu {
        position: fixed;
        top: 8rem;
        bottom: 0;
        height: 45vh;
        width: 30vw;
        right: 0;
        background-color: white;
        z-index: 5;
      }

      .authenticated-menu {
        height: 70vh;
      }

      .divider {
        display: block;
        width: 65%;
        margin: auto;
      }
      .classic_links_responsive {
      text-decoration: none;
      color: black;
      display: block;
      text-align: center;
      padding: 3rem 0;
      margin-left: 0;
    }

    .burgerMenuCustomer-select-lang {
      width: 100%;
      height: 40px;
      display: flex;
      justify-content: center;
}

      @media only screen and (max-width: 1000px) {
      div.connect {
        display: none;
      }
      .not-connected-options {
        display: flex;
        align-items: center;
      }
      .burger-menu {
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;
        width: 30px;
        margin-right: 35px;
      }

      .burger-menu img {
        width: 40px;
      }
      .responsive-basket-quantity {
        position: absolute;
        bottom: -4px;
        right: -7px;
        background-color: red;
        border-radius: 50%;
        width: 20px;
      }

      .desktop_menu_options {
        display: none;
      }

      .surname_responsive {
        margin: 1rem;
        font-size: 4rem;
      }
      .responsive_menu {
        border-radius: 5px;
        animation-duration: 0.25s;
        animation-name: slidein1000;
      }
    }

      @media only screen and (max-width: 850px) {
        .responsive_menu {
          width: 40vw;
        }
        .responsive_menu {
          animation-duration: 0.25s;
          animation-name: slidein850;
        }
      }

      @media only screen and (max-width: 750px) {
        .responsive_menu {
          animation-duration: 0.25s;
          animation-name: slidein750;
        }
      }

      @media only screen and (max-width: 650px) {
        .big-screen-info {
          display: none;
        }

      .responsive_menu {
        animation-duration: 0.25s;
        animation-name: slidein650;
      }
    }

    @media only screen and (max-width: 550px) {
      .responsive_menu {
        width: 50vw;
      }
      .responsive_menu {
        animation-duration: 0.25s;
        animation-name: slidein550;
      }
    }

    @media only screen and (max-width: 500px) {
      .responsive_menu {
        width: 60vw;
        animation-duration: 0.25s;
        animation-name: slidein500;
      }
      .margin-bottom {
        margin-bottom: 9rem;
      }
    }

    @media only screen and (max-width: 450px) {
      .responsive_menu {
        animation-duration: 0.25s;
        animation-name: slidein500;
        height: 55vh;
      }
    }

      @keyframes slidein1000 {
        from {
          right: -500%;
        }

        to {
          right: 0%;
        }
      }

      @keyframes slidein850 {
        from {
          right: -500%;
        }

        to {
          right: 0%;
        }
      }

    @keyframes slidein750 {
      from {
        right: -500%;
      }

      to {
        right: 0;
      }
    }

    @keyframes slidein650 {
      from {
        right: -500%;
      }

      to {
        right: 0;
      }
    }

    @keyframes slidein550 {
      from {
        right: -500%;
      }

      to {
        right: 0;
      }
    }
        
    @keyframes slidein500 {
      from {
        right: -500%;
      }

      to {
        right: 0;
      }
    }
    </style>
  </head>
  <body>

    <!-- Black Div -->
    <div class="blackDiv"></div>

    <nav class="navbar">
      <div class="container">
        <div class="menu-links-left">
          <a href="/" class="logo-shop-link">
            <img src="/shopLogo.png" />
          </a>
        </div>
        <div class="not-connected-options">
            <div class="burger-menu burgerMenuHomePage">
              <img src="/pictures/burger-menu.png" alt="" />
            </div>
          <div class="connect">
            <a class="classic-links" id="menu.navbar.subscribe" href="/subscribe">Subscribe</a>
            <a class="classic-links" id="menu.navbar.register" href="/register">Register</a>
            <a class="classic-links" id="menu.navbar.connect" href="/login">Log in</a>
            <div class="current-app-lang" id="currentAppLanguage">
              <div class="current-lang-flag" id="currengFlag">
                <img src="/flags/25X13/en.png" id="currentlyDisplayedFlag"/>
                <span class="arrow-menu arrow-app-lang importedStyle"></span>

                <!-- Displaying all flags div -->
                <div class="set-lang-choosing lang-select-applevel importedStyle" id="displayingFlagsDiv">

                   <!-- One language -->
                   <div class="flag-drop-down" id="fr-flag-button">
                    <img src="/flags/25X13/fr.png" />
                  </div>

                   <!-- One language -->
                  <div class="flag-drop-down" id="en-flag-button">
                    <img src="/flags/25X13/en.png"/>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="margin-bottom"></div>

    <!-- <Menu Responsive> -->
      <div class="responsive_menu">
        <div class="not_connected_options_responsive">
          <div class="connection">
            <a class="classic_links_responsive" href="/register" >
              Register</a>
            <a class="classic_links_responsive" href="/login">
              Connect</a>
              <div class="burgerMenuCustomer-select-lang">
                <div class="current-app-lang" id="currentAppLanguage">
                  <div class="current-lang-flag" id="currengFlag">
                    <img src="/flags/25X13/en.png" id="currentlyDisplayedFlag"/>
                    <span class="arrow-menu arrow-app-lang importedStyle"></span>

                      <!-- Displaying all flags div -->
                      <div class="set-lang-choosing lang-select-applevel importedStyle" id="displayingFlagsDiv">
                        
                        <!-- One language -->
                        <div class="flag-drop-down" id="fr-flag-button">
                            <img src="/flags/25X13/fr.png"/>
                        </div>

                        <!-- One language -->
                        <div class="flag-drop-down" id="en-flag-button">
                          <img src="/flags/25X13/en.png" />
                        </div>
                    </div>

                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
        <!-- </Menu Responsive> -->

    <h1>Homepage for SSR</h1>
    <script type="text/javascript">

      //Change lang app
      const handleDisplayAllFlagsDiv = document.getElementById('currentAppLanguage').addEventListener('click', (event)=>{
        //set lang in localstorage
        console.log(event);

        //Display div with all flags
        if(document.getElementById('displayingFlagsDiv').style.display ==="flex"){
          document.getElementById('displayingFlagsDiv').style.display ="none";
        }
        else{
          document.getElementById('displayingFlagsDiv').style.display ="flex";
        }
      })

      //Pass app lang to french
      const passAppToFrench = document.getElementById("fr-flag-button").addEventListener('click', (event) =>{
        console.log("je passe l'app en FR");

        //display the relevant flag in menu bar
        document.getElementById("currentlyDisplayedFlag").src="/flags/25X13/fr.png";

        //Get each text node and translate it
        translateHomePage("fr-FR");

        //Local storage
        window.localStorage.setItem("appLang","fr-FR");
      })

      //Pass app lang to english
      const passAppToEnglish = document.getElementById("en-flag-button").addEventListener('click', (event) =>{
      console.log("je passe l'app en EN");

      //display the relevant flag in menu bar
      document.getElementById("currentlyDisplayedFlag").src="/flags/25X13/en.png";
      
      //Get each text node and translate it
        translateHomePage("en-US");

      //Local storage
      window.localStorage.setItem("appLang","en-US");
      })

     

      const langToLocaleDictionnary = {
        fr : "fr-FR",
        en : "en-US"
      }

      const defaultPageLanguage = "en-US";
      const translations = {
        "menu.navbar.subscribe": {
          "en-US": "Subscribe",
          "fr-FR": "Tarifs",
        },
        "menu.navbar.register": {
          "en-US": "Register",
          "fr-FR": "S'inscrire",
        },
        "menu.navbar.connect": {
          "en-US": "Log in",
          "fr-FR": "Se connecter",
        },
      };

       function translateHomePage(language="en-US"){
        //  Menu
        document.getElementById("menu.navbar.subscribe").textContent=translations["menu.navbar.subscribe"][language];
        document.getElementById("menu.navbar.register").textContent=translations["menu.navbar.register"][language];
        document.getElementById("menu.navbar.connect").textContent=translations["menu.navbar.connect"][language];

        //TODO translate responsive menu

      };

      //TODO : boot the app on local storage OR in english by default
      const langInLocalSorage = window.localStorage.getItem('appLang');
      if(langInLocalSorage !== "en-US"){
          //display the relevant flag in menu bar
        document.getElementById("currentlyDisplayedFlag").src="/flags/25X13/fr.png";

        //Get each text node and translate it
        translateHomePage("fr-FR");
      }
    </script>
  </body>
</html>
