<html>
  <head>
    <title>MKM Price Updater</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <style>
      :root {
        --main-bg-color: coral;
        --main-bg-color-darker: hsl(16, 90%, 66%);
        --main-bg-color-almost: rgba(255, 127, 80, 0.9);
        --main-bg-color-more: rgba(255, 127, 80, 0.7);
        --main-bg-color-medium: rgba(255, 127, 80, 0.5);
        --main-bg-color-weak: rgba(255, 127, 80, 0.3);
        --background-color: #f9f9f9;
        --border-radius-form-field: 8px;
        --back-office-back-color: rgba(173, 216, 230, 0.8);
      }

      #root {
        background-color: var(--background-color);
      }
      * {
        box-sizing: border-box;
      }

      html {
        font-size: 62.5%;
        margin: 0;
        padding: 0;
      }

      body {
         margin: 0;
        padding: 0;
      }

      .container {
        max-width: 70%;
        margin: 0 auto;
      }

      p,
      ul,
      li,
      div,
      td {
        font-size: 1.6rem;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }

      ul {
        margin: 0;
        padding: 0;
      }

      main {
        overflow: hidden;
      }

      #root {
        min-height: 100vh; /* will cover the 100% of viewport */
        overflow: hidden;
        display: block;
        position: relative;
        padding-bottom: 120px; /* height of the footer */
      }

      /* Removing the scrolling bar */
      html {
        overflow: scroll;
        overflow-x: hidden;
    }
    ::-webkit-scrollbar {
        width: 0px;  /* Remove scrollbar space */
    }


      /* Black Div */
      .blackDiv {
        display : none;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 2;
        background-color: rgba(0, 0, 0);
        opacity: 0.5;
        animation: blackDivAppearing 0.5s;
      }

      
      @keyframes blackDivAppearing {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 0.5;
        }
      }

      @media only screen and (max-width: 1024px) {
      .container {
        width: 80%;
        }
      }  

      /**********************/
      /******** MENU ********/
      /**********************/

      .classic-links {
        margin: 1rem;
        padding: 1rem;
        text-decoration: none;
        color: black;
        border-radius: 50px;
      }

      .classic-links:hover {
        background-color: var(--main-bg-color);
        cursor: pointer;
      }

      .logo-shop-link {
      }

      nav {
        background-color: white;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
      }

      nav > .container {
        display: flex;
        justify-content: space-between;
      }

      .menu-links-left {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .navbar {
        position: fixed;
        top: 0;
        z-index: 8;
        width: 100%;
        background-color: white;
        min-height: 61px;
      }
      .navbar .container {
        margin-top : 10px;
      }

      .navbar input[type="search"] {
        border: 1px solid rgba(0, 0, 0, 0.5);
      }

      div.connect {
        display: flex;
      }

      div.connect p {
        padding-left: 2rem;
      }

      .margin-bottom {
        margin-bottom: 7rem;
      }

      .arrow-menu.importedStyle {
        top: 4px;
      }
      .current-app-lang {
        position: relative;
        width: 40px;
        outline: none;
      }

      .flag-drop-down {
        cursor: pointer;
        padding: 5px;
        background-color: var(--background-color);
      }

      .set-lang-choosing {
        position: absolute;
        top: 28px;
        right: 8px;
        left: 0;
        box-shadow: 1px 1px 1px black;
        z-index: 2;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        text-align: center;
      }

      .set-lang-choosing .flag-drop-down:last-child {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }

      .current-app-lang img {
        border-radius: 3px;
        outline: none;
      }

      .current-lang-flag {
        position: absolute;
        cursor: pointer;
        padding-right: 1rem;
        top: 26px;
        margin-left: 0px;
      }

      /* Floating div with flags */
      .importedStyle.set-lang-choosing.lang-select-applevel{
      line-height: 25px;
      top: 18px;
      height : 62px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      background-color: var(--background-color);
      display:none;
      }

      .arrow-app-lang {
        position: absolute;
        right: 0px;
      }

      div.lang-select-applevel {
        width: 35px;
        right: 12px;
        left: -3px;
        outline: none;
      }

      /* Arrow to toggle menu */
      .arrow-menu {
        display: inline-block;
        width: 0;
        height: 0;
        vertical-align: middle;
        content: "";
        border-top-style: solid;
        border-top-width: 4px;
        border-right: 4px solid transparent;
        border-bottom: 0 solid transparent;
        border-left: 4px solid transparent;
        margin-left: 5px;
      }

      .burgerMenuHomePage {
        display :none;
      }

      /* Responsive Menu */
      .responsive_menu {
        position: fixed;
        display : none;
        top: 8rem;
        bottom: 0;
        height: 45vh;
        width: 30vw;
        right: 0;
        background-color: white;
        z-index: 5;
      }

      .authenticated-menu {
        height: 70vh;
      }

      .divider {
        display: block;
        width: 65%;
        margin: auto;
      }
      .classic_links_responsive {
      text-decoration: none;
      color: black;
      display: block;
      text-align: center;
      padding: 3rem 0;
      margin-left: 0;
    }

    .burgerMenuCustomer-select-lang {
      width: 100%;
      height: 40px;
      display: flex;
      justify-content: center;
}

      @media only screen and (max-width: 1000px) {
      div.connect {
        display: none;
      }
      .not-connected-options {
        display: flex;
        align-items: center;
      }
      .burger-menu {
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;
        width: 30px;
        height:40px;
      }

      .burger-menu img {
        width: 40px;
      }
      .responsive-basket-quantity {
        position: absolute;
        bottom: -4px;
        right: -7px;
        background-color: red;
        border-radius: 50%;
        width: 20px;
      }

      .desktop_menu_options {
        display: none;
      }

      .surname_responsive {
        margin: 1rem;
        font-size: 4rem;
      }
      .responsive_menu {
        border-radius: 5px;
        animation-duration: 0.25s;
        animation-name: slidein1000;
      }
    }

      @media only screen and (max-width: 850px) {
        .responsive_menu {
          width: 40vw;
        }
        .responsive_menu {
          animation-duration: 0.25s;
          animation-name: slidein850;
        }
      }

      @media only screen and (max-width: 750px) {
        .responsive_menu {
          animation-duration: 0.25s;
          animation-name: slidein750;
        }
      }

      @media only screen and (max-width: 650px) {
        .big-screen-info {
          display: none;
        }

      .responsive_menu {
        animation-duration: 0.25s;
        animation-name: slidein650;
      }
    }

    @media only screen and (max-width: 550px) {
      .responsive_menu {
        width: 50vw;
      }
      .responsive_menu {
        animation-duration: 0.25s;
        animation-name: slidein550;
      }
    }

    @media only screen and (max-width: 500px) {
      .responsive_menu {
        width: 60vw;
        animation-duration: 0.25s;
        animation-name: slidein500;
      }
      .margin-bottom {
        margin-bottom: 9rem;
      }
    }

    @media only screen and (max-width: 450px) {
      .responsive_menu {
        animation-duration: 0.25s;
        animation-name: slidein500;
        height: 55vh;
      }
    }

      @keyframes slidein1000 {
        from {
          right: -500%;
        }

        to {
          right: 0%;
        }
      }

      @keyframes slidein850 {
        from {
          right: -500%;
        }

        to {
          right: 0%;
        }
      }

    @keyframes slidein750 {
      from {
        right: -500%;
      }

      to {
        right: 0;
      }
    }

    @keyframes slidein650 {
      from {
        right: -500%;
      }

      to {
        right: 0;
      }
    }

    @keyframes slidein550 {
      from {
        right: -500%;
      }

      to {
        right: 0;
      }
    }
        
    @keyframes slidein500 {
      from {
        right: -500%;
      }

      to {
        right: 0;
      }
    }

    /**************************/
    /******** HOMEPAGE ********/
    /**************************/

    /***FIRST LINER ***/
    .main-title {
      display: flex;
      justify-content: center;
    }

    .left-content,
    .right-content {
      width: 50%;
    }

    .left-content p {
      font-size: 2rem;
      margin-top: 20px;
    }

    .cta-main {
      margin-top: 32px;
    }

    .left-content a,
    .CTA-button {
      padding-left: 3.5rem;
      padding-right: 3.5rem;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      font-size: 1.8rem;
      font-weight: 500;
      border: 1px solid transparent;
      background-color: rgb(28, 100, 242);
      color: rgb(255, 255, 255);
      cursor: pointer;
      border-radius: 6px;
      transition: background-color 0.5s;
      text-decoration: none;
    }

    .left-content a:hover,
    .CTA-button:hover {
      background-color: rgba(63, 131, 248, 0.8);
      transition: background-color 0.5s;
    }

    .main-punchline {
      font-size: 6.4rem;
      margin-bottom: 0;
    }
    .first-liner {
      padding: 3rem 0;
      position: relative;
    }

    .first-liner .software-image img {
      position: absolute;
      width: 1200px;
      transform: rotate(-5deg);
      right: -500px;
      top: -50px;
      z-index: -1;
    }

    @media only screen and (max-width: 1400px) {
      .first-liner .software-image img {
        position: absolute;
        width: 1200px;
        right: -650px;
        top: -25px;
        z-index: -1;
      }
    }
    @media only screen and (max-width: 1024px) {
      .first-liner .software-image img {
        display: none;
      }

      .main-punchline {
        text-align: center;
      }
      .right-content {
        display: none;
      }
      .left-content {
        width: 100%;
        text-align: center;
      }
    }
    @media only screen and (max-width: 768px) {
      .first-liner .software-image img {
        display: none;
      }
    }
    @media only screen and (max-width: 640px) {
      .first-liner .software-image img {
        display: none;
      }
    }
    @media only screen and (max-width: 550px) {
      .main-punchline {
        font-size: 3rem;
      }
    }
    /***SECOND LINER ***/

    .second-liner {
      background-color: #f9fafb;
      border-top: 1px solid rgba(210, 214, 220, 0.5);
      border-bottom: 1px solid rgba(210, 214, 220, 0.5);
    }

    .cards-container {
      display: flex;
      justify-content: center;
      padding: 8rem 0;
    }

    .card {
      font-size: 1.4rem;
      width: 30%;
      margin: 0 1%;
      line-height: var(--line-height);
    }

    .card .card-title {
      display: block;
      font-weight: bold;
      margin-bottom: 1rem;
      font-size: 2.4rem;
    }

    .card span:last-child {
      font-size: 1.8rem;
      color: rgb(75, 85, 99);
    }

    @media only screen and (max-width: 1024px) {
      .cards-container {
        flex-direction: column;
      }
      .card {
        width: 100%;
        padding-bottom: 5rem;
      }

      .card-title {
        font-size: 1.8rem;
      }
    }

    /***THIRD LINER ***/

    .third-liner {
      position: relative;
      height: 400px;
      background-color: rgb(244, 245, 247);
      padding: 3rem 0;
      text-align: center;
    }

    .third-liner h2.punchline {
      max-width: 768px;
      padding-top: 5rem;
      padding-bottom: 3rem;
      margin: auto;
    }
    .third-liner p {
      color: rgb(75, 85, 99);
      font-size: 2rem;
      max-width: 768px;
      margin: auto;
      line-height: 2.6rem;
    }

    .third-liner img {
      position: absolute;
      width: 1000px;
      left: 50%;
      top: 120%;
      transform: translate(-50%, -50%);
      border: 1px solid rgba(210, 214, 220, 0.5);
    }

    h2.punchline {
      margin: 0;
      font-size: 3rem;
      text-align: center;
    }

    @media only screen and (max-width: 1400px) {
      .third-liner img {
        width: 800px;
      }
    }
    @media only screen and (max-width: 1024px) {
      .third-liner img {
        width: 600px;
      }
    }
    @media only screen and (max-width: 768px) {
      .third-liner {
        height: 450px;
      }
      .third-liner p {
        text-align: left;
      }
      .third-liner img {
        display: none;
      }
    }
    @media only screen and (max-width: 300px) {
      .third-liner {
        height: 500px;
      }
      .third-liner img {
        display: none;
      }
    }

    /***FOURTH LINER ***/

    .fourth-liner {
      background-color: #161e2e;
      color: white;
      height: 600px;
      padding-top: 35rem;
      padding-bottom: 30rem;
    }

    .fourth-liner p {
      font-size: 2rem;
      text-align: center;
      width: 70%;
      margin: 1rem auto;
    }

    .fourth-liner .tick-box {
      margin-left: 156px;
      margin-right: 156px;
      display: flex;
      justify-content: center;
      font-size: 1.8rem;
    }

    .tick-box > div {
      width: 30%;
    }

    .tick-box > div > div {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-top: 10px;
    }

    .iconCheck {
      margin-right: 10px;
    }

    h3.punchline {
      margin: 0;
      font-size: 3rem;
      text-align: center;
    }

    @media only screen and (max-width: 1400px) {
      .fourth-liner .tick-box {
        margin-left: 0;
        margin-right: 0;
      }
    }
    @media only screen and (max-width: 1024px) {
      .fourth-liner {
        padding-top: 25rem;
      }
      .fourth-liner .tick-box {
        justify-content: space-around;
      }
    }

    @media only screen and (max-width: 768px) {
      .fourth-liner {
        padding-top: 10rem;
        height: auto;
        padding-bottom: 5rem;
      }
      .fourth-liner .tick-box {
        flex-direction: column;
        align-items: center;
      }
      .tick-box > div {
        width: 50%;
      }
    }

    /***FIFTH LINER ***/

    .fifth-liner {
      padding: 5rem 0;
      background-color: rgb(249, 250, 251);
    }

    .fifth-liner > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1024px;
      margin: 0 auto;
    }

    .fifth-liner a.CTA-button {
      margin-top: 0;
    }

    .fifth-liner p {
      font-size: 2.8rem;
      font-weight: 700;
    }

    @media only screen and (max-width: 1400px) {
      .fifth-liner > div {
        flex-direction: column;
        text-align: left;
      }
    }
    @media only screen and (max-width: 768px) {
      .fifth-liner p {
        text-align: center;
      }
    }


    /**************************
    *********FOOTER***********
    **************************/

    .footer {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      height: 100px;
      border-top: 1px solid lightgrey;
      background-color: var(--background-color);
      z-index: 1;
    }

    .footer-container {
      display: flex;
      justify-content: space-between;
    }

    .footer a {
      text-decoration: none;
      color: black;
    }

    .footer a:hover {
      text-decoration: underline;
    }

    @media only screen and (max-width: 1000px) {
      .footer {
        height: 200px;
      }
    }
    @media only screen and (max-width: 850px) {
      .footer {
        height: 300px;
      }
      .footer-container {
        flex-direction: column;
      }
    }

    </style>
  </head>
  <body>

    <!-- Black Div -->
    <div class="blackDiv" id="blackDiv"></div>

    <nav class="navbar">
      <div class="container">
        <div class="menu-links-left">
          <a href="/" class="logo-shop-link">
            <img src="/shopLogo.png" />
          </a>
        </div>
        <div class="not-connected-options">
            <div class="burger-menu burgerMenuHomePage" id="burgerMenuImageResponsive">
              <img src="/pictures/menu.svg" alt="burger-menu" />
            </div>
          <div class="connect">
            <a class="classic-links" id="menu.navbar.subscribe" href="/subscribe">Subscribe</a>
            <a class="classic-links" id="menu.navbar.register" href="/register">Register</a>
            <a class="classic-links" id="menu.navbar.connect" href="/login">Log in</a>
            <div class="current-app-lang" id="currentAppLanguage">
              <div class="current-lang-flag" id="currengFlag">
                <img src="/flags/25X13/EN.png" id="currentlyDisplayedFlag"/>
                <span class="arrow-menu arrow-app-lang importedStyle"></span>

                <!-- Displaying all flags div -->
                <div class="set-lang-choosing lang-select-applevel importedStyle" id="displayingFlagsDiv">

                   <!-- One language -->
                   <div class="flag-drop-down" id="fr-flag-button">
                    <img src="/flags/25X13/FR.png" />
                  </div>

                   <!-- One language -->
                  <div class="flag-drop-down" id="en-flag-button">
                    <img src="/flags/25X13/EN.png"/>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="margin-bottom"></div>

    <!-- <Menu Responsive> -->
      <div class="responsive_menu" id="responsive_menu">
        <div class="not_connected_options_responsive">
          <div class="connection">
            <a class="classic_links_responsive" href="/subscribe" id="menu.navbar.subscribeResponsive">Subscribe</a>
            <a class="classic_links_responsive" href="/register" id="menu.navbar.registerResponsive">Register</a>
            <a class="classic_links_responsive" href="/login" id="menu.navbar.connectResponsive">Log in</a>
              <div class="burgerMenuCustomer-select-lang">
                <div class="current-app-lang" id="currentAppLanguageResponsive">
                  <div class="current-lang-flag" id="currengFlagResponsive">
                    <img src="/flags/25X13/EN.png" id="currentlyDisplayedFlagResponsive"/>
                    <span class="arrow-menu arrow-app-lang importedStyle"></span>

                      <!-- Displaying all flags div -->
                      <div class="set-lang-choosing lang-select-applevel importedStyle" id="displayingFlagsDivResponsive">
                        
                        <!-- One language -->
                        <div class="flag-drop-down" id="fr-flag-buttonResponsive">
                            <img src="/flags/25X13/FR.png"/>
                        </div>

                        <!-- One language -->
                        <div class="flag-drop-down" id="en-flag-buttonResponsive">
                          <img src="/flags/25X13/EN.png" />
                        </div>
                    </div>

                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
        <!-- </Menu Responsive> -->

        <!-- <Main> -->
      <main>
        <div class="first-liner">
          <div class="container">
            <div class="first-liner">
              <div class="software-image">
                <img src="/screenshots/All-my-scripts_en-US.png" id="firstLinerPicture" />
              </div>
              <div class="main-title">
                <div class="left-content">
                  <h1 class="main-punchline" id="main-punchline">
                    Update all your prices on MKM in a click
                  </h1>
                  <p id="subSentence">Fixed price. Unlimited modifications.</p>
                  <div class="cta-main">
                      <a type="button" href="/subscribe" id="getStartedFirstButton">Get Started</a>
                  </div>
                </div>
                <div class="right-content"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="second-liner">
          <div class="container">
            <div class="cards-container">
              <div class="card">
                <span class="card-title" id="sellingPoint1">Refresh your old prices</span>
                <span id="sellingPoint1Subtext">
                  Example : All Regular Modern cards between 10 and 50 euros should be 15% above MKM trend. These above 50€, 10%. Above 80€: skip.
                </span>
              </div>
              <div class="card">
                <span class="card-title" id="sellingPoint2">Create commercial offers</span>
                <span id="sellingPoint2Subtext">
                 Example : -10% on all standard cards above 20 euros, only this week-end !
                </span>
              </div>
              <div class="card">
                <span class="card-title" id="sellingPoint3">Target your updates</span>
                <span id="sellingPoint3Subtext">
                 You can target cards by format, and/or by comments cards have on MKM. Example : -10% on "rack n°28" or -5% on Standard cards with one or more specific comments.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="third-liner">
          <div class="container">
            <h2 class="punchline" id="punchline2">
              Take control of your prices
            </h2>
            <p id="liner2MainSellingArgument">
              Update your prices at will, by price range, by MKM comments and by format. MKM Price Updater is an easy-to-use tool that enables you to set targeted price updates on all or part of your stock of MTG cards. Increase or decrease your prices at will.
            </p>
            <div>
              <img src="/screenshots/Rules_en-US.png" id="thirdLinerPicture"/>
            </div>
          </div>
        </div>
        <div class="fourth-liner">
          <div class="container">
            <h3 class="punchline" id="fourthLinerPunchline">Update in confidence</h3>
            <p id="fourthLineExplaination">
              Our Price Shield algorithm checks if your price is coherent before updating it. It understands exotic cards, staples, signed and altered.
            </p>
            <div class="tick-box">
              <div>
                <!-- ✓   -->
                <div>
                  <span class="iconCheck">✓</span>
                  <span id="fourthLinerSellingPoint1">Update by Price Range</span>
                </div>
                <div>
                  <span class="iconCheck">✓</span>
                  <span id="fourthLinerSellingPoint2">Update by Format</span>
                </div>
                <div>
                  <span class="iconCheck">✓</span>
                  <span id="fourthLinerSellingPoint3">Update by MKM Comment</span>
                </div>
                <div>
                  <span class="iconCheck">✓</span>
                  <span id="fourthLinerSellingPoint4">Set your prices or follow the market</span>
                </div>
              </div>
              <div>
                <div>
                  <span class="iconCheck">✓</span>
                  <span id="fourthLinerSellingPoint5">Create commercial operations</span>
                </div>
                <div>
                  <span class="iconCheck">✓</span>
                  <span id="fourthLinerSellingPoint6">Price Shield Protection</span>
                </div>
                <div>
                  <span class="iconCheck">✓</span>
                  <span id="fourthLinerSellingPoint7">Email Summary of each modification</span>
                </div>
                <div>
                  <span class="iconCheck">✓</span>
                  <span id="fourthLinerSellingPoint8">Mail & Tel Support</span>
                </div>
              </div>
              <!-- <div>
                <div>
                  <span class="iconCheck">✓</span>
                  <span id="fourthLinerSellingPoint9"></span>
                </div>
                <div>
                  <span class="iconCheck">✓</span>
                  <span id="fourthLinerSellingPoint10"></span>
                </div>
                <div>
                  <span class="iconCheck">✓</span>
                  <span id="fourthLinerSellingPoint11"></span>
                </div>
                <div>
                  <span class="iconCheck">✓</span>
                  <span id="fourthLinerSellingPoint12"></span>
                </div>
              </div> -->
            </div>
          </div>
        </div>
        <div class="fifth-liner">
          <div>
            <div class="container">
              <p id="fifthLinerCatchPhrase">To learn more</p>
            </div>
              <a class="CTA-button" href="/subscribe" id="getStartedSecondButton">Get Started</a>
          </div>
        </div>
      </main>

          <!-- <Footer> -->
        <!-- <footer class="footer">
          <div class="footer-container container">
            <div>
              <p>
                <a href="/buyingClauses">d</a>
              </p>
            </div>
            <div>
              <p class="small-text"></p>
            </div>
          </div>
        </footer> -->
        <!-- </Footer> -->

    
    <script type="text/javascript">

    // Black Div
    
    const blackDivTrigger = document.getElementById('blackDiv').addEventListener('click', (event)=>{
        //set lang in localstorage
        console.log(event);

        //Display div with all flags
        if(document.getElementById('blackDiv').style.display ==="inline-block"){
          document.getElementById('blackDiv').style.display ="none";
          document.getElementById('responsive_menu').style.display ="none";
        }
        else{
          document.getElementById('blackDiv').style.display ="inline-block";
          document.getElementById('responsive_menu').style.display ="inline-block";
        }
      })

    const responveiMenuTriggerAppearance = document.getElementById('burgerMenuImageResponsive').addEventListener('click', (event)=>{
        //set lang in localstorage
        console.log(event);

        //Display div with all flags
        if(document.getElementById('responsive_menu').style.display ==="inline-block"){
          document.getElementById('blackDiv').style.display ="none";
          document.getElementById('responsive_menu').style.display ="none";
        }
        else{
          document.getElementById('responsive_menu').style.display ="inline-block";
          document.getElementById('blackDiv').style.display ="inline-block";
        }
      })

      //Change lang app
      const handleDisplayAllFlagsDiv = document.getElementById('currentAppLanguage').addEventListener('click', (event)=>{
        //set lang in localstorage
        console.log(event);

        //Display div with all flags
        if(document.getElementById('displayingFlagsDiv').style.display ==="flex"){
          document.getElementById('displayingFlagsDiv').style.display ="none";
        }
        else{
          document.getElementById('displayingFlagsDiv').style.display ="flex";
        }
      })

      //Pass app lang to french
      const passAppToFrench = document.getElementById("fr-flag-button").addEventListener('click', (event) =>{
        console.log("je passe l'app en FR");

        //display the relevant flag in menu bar
        document.getElementById("currentlyDisplayedFlag").src="/flags/25X13/FR.png";
        document.getElementById("currentlyDisplayedFlagResponsive").src="/flags/25X13/FR.png";

        //Get each text node and translate it
        translateHomePage("fr-FR");

        //display the translated screenshots
        document.getElementById('firstLinerPicture').src = `/screenshots/All-my-scripts_fr-FR.png`
        document.getElementById('thirdLinerPicture').src = `/screenshots/Rules_fr-FR.png`

        //Local storage
        window.localStorage.setItem("appLang","fr-FR");
      })

      //Pass app lang to english
      const passAppToEnglish = document.getElementById("en-flag-button").addEventListener('click', (event) =>{
      console.log("je passe l'app en EN");

      //display the relevant flag in menu bar
      document.getElementById("currentlyDisplayedFlag").src="/flags/25X13/EN.png";
      document.getElementById("currentlyDisplayedFlagResponsive").src="/flags/25X13/EN.png";
      
      //Get each text node and translate it
        translateHomePage("en-US");

      //display the translated screenshots
      document.getElementById('firstLinerPicture').src = `/screenshots/All-my-scripts_en-US.png`
      document.getElementById('thirdLinerPicture').src = `/screenshots/Rules_en-US.png`

      //Local storage
      window.localStorage.setItem("appLang","en-US");
      })


      //App translation in responsive

       //Change lang app Responsive
      const handleDisplayAllFlagsDivResponsive = document.getElementById('currentAppLanguageResponsive').addEventListener('click', (event)=>{
        //set lang in localstorage
        console.log(event);

        //Display div with all flags
        if(document.getElementById('displayingFlagsDivResponsive').style.display ==="flex"){
          document.getElementById('displayingFlagsDivResponsive').style.display ="none";
        }
        else{
          document.getElementById('displayingFlagsDivResponsive').style.display ="flex";
        }
      })

      //Pass app lang to french
      const passAppToFrenchResponsive = document.getElementById("fr-flag-buttonResponsive").addEventListener('click', (event) =>{
        console.log("je passe l'app en FR");

        //display the relevant flag in menu bar
        document.getElementById("currentlyDisplayedFlagResponsive").src="/flags/25X13/FR.png";
        document.getElementById("currentlyDisplayedFlag").src="/flags/25X13/FR.png";

        //Get each text node and translate it
        translateHomePage("fr-FR");

        //display the translated screenshots
      document.getElementById('firstLinerPicture').src = `/screenshots/All-my-scripts_fr-FR.png`
      document.getElementById('thirdLinerPicture').src = `/screenshots/Rules_fr-FR.png`

        //Local storage
        window.localStorage.setItem("appLang","fr-FR");
      })

      //Pass app lang to english
      const passAppToEnglishResponsive = document.getElementById("en-flag-buttonResponsive").addEventListener('click', (event) =>{
      console.log("je passe l'app en EN");

      //display the relevant flag in menu bar
      document.getElementById("currentlyDisplayedFlagResponsive").src="/flags/25X13/EN.png";
      document.getElementById("currentlyDisplayedFlag").src="/flags/25X13/EN.png";
      
      //Get each text node and translate it
        translateHomePage("en-US");

      //display the translated screenshots
      document.getElementById('firstLinerPicture').src = `/screenshots/All-my-scripts_en-US.png`
      document.getElementById('thirdLinerPicture').src = `/screenshots/Rules_en-US.png`

      //Local storage
      window.localStorage.setItem("appLang","en-US");
      })

     

      const langToLocaleDictionnary = {
        fr : "fr-FR",
        en : "en-US"
      }

      const defaultPageLanguage = "en-US";
      const translations = {
        "document.title": {
          "en-US": "MKM Price Updater",
          "fr-FR": "Modifiez vos prix sur MKM",
        },
        "menu.navbar.subscribe": {
          "en-US": "Subscribe",
          "fr-FR": "Tarifs",
        },
        "menu.navbar.register": {
          "en-US": "Register",
          "fr-FR": "S'inscrire",
        },
        "menu.navbar.connect": {
          "en-US": "Log in",
          "fr-FR": "Se connecter",
        },
        "menu.navbar.subscribeResponsive": {
          "en-US": "Subscribe",
          "fr-FR": "Tarifs",
        },
        "menu.navbar.registerResponsive": {
          "en-US": "Register",
          "fr-FR": "S'inscrire",
        },
        "menu.navbar.connectResponsive": {
          "en-US": "Log in",
          "fr-FR": "Se connecter",
        },
        "main-punchline": {
          "en-US": "Update all your prices on MKM in a click",
          "fr-FR": "Modifiez tous vos prix sur MKM en un clic",
        },
        "subSentence": {
          "en-US": "Fixed price. Unlimited modifications.",
          "fr-FR": "Prix fixe. Modifications illimitées.",
        },
        "getStartedFirstButton": {
          "en-US": "Try it out",
          "fr-FR": "Essayer",
        },
        "getStartedSecondButton": {
          "en-US": "Try it out",
          "fr-FR": "Essayer",
        },
        "sellingPoint1": {
          "en-US": "Refresh your old prices",
          "fr-FR": "Rafraichissez vos anciens prix",
        },
        "sellingPoint1Subtext": {
          "en-US": "Example : All Regular Modern cards between 10 and 50 euros should be 15% above MKM trend. These above 50€, 10%. Above 80€, skip.",
          "fr-FR": "Exemple : Toutes les cartes Modern non foil entre 10 et 50 euros doivent être 15% au dessus de la tendance MKM. Au dessus de 50€: 10%. Au dessus de 80€, ne fais rien.",
        },
        "sellingPoint2": {
          "en-US": "Create commercial offers",
          "fr-FR": "Creéz des offres commerciales",
        },
        "sellingPoint2Subtext": {
          "en-US": "Example : -10% on all standard cards above 20 euros, only this week-end !",
          "fr-FR": "Exemple : -10% sur le standard ce week-end sur toute les cartes au dessus de 20 euros !",
        },
        "sellingPoint3": {
          "en-US": "Target your updates",
          "fr-FR": "Modifiez de façon ciblée",
        },
        "sellingPoint3Subtext": {
          "en-US": "You can target cards by format, and/or by comments cards have on MKM. Example : -10% on \"rack n°28\" or -5% on Standard cards with one or more specific comments.",
          "fr-FR": "Ciblez vos cartes par format, et/ou par commentaires sur MKM. Exemple : -10% sur \"rack 28\" ou -5% sur le standard avec tel et tel commentaire.",
        },
        "punchline2": {
          "en-US": "Take control of your prices",
          "fr-FR": "Prenez le contrôle de vos prix",
        },
        "liner2MainSellingArgument": {
          "en-US": "Update your prices at will, by price range, by MKM comment and by format. MKM Price Updater is an easy-to-use tool that enables you to set targeted price updates on all or part of your stock of MTG cards. Increase or decrease your prices at will.",
          "fr-FR": "Modifiez vos prix selon vos souhaits, par tranche de prix, par commentaire MKM et par format. MKM Price Updater est un outil facile à prendre en main qui vous permet de mettre en place des opérations commerciales ciblées sur toute ou partie de votre stock de cartes Magic. Augmentez et réduisez à volonté.",
        },
        "fourthLinerPunchline": {
          "en-US": "Update in confidence",
          "fr-FR": "Modifiez en toute confiance",
        },
        "fourthLineExplaination": {
          "en-US": "Our Price Shield algorithm checks if your price and blocks anything being too far from market price. It understands exotic cards, staples, signed and altered.",
          "fr-FR": "Notre algorithme Price Shield vérifie la cohérence de vos prix de vente et bloque tout prix trop éloigné du marché. Il comprends les cartes exotiques, les staples, les cartes signées ou altérées.",
        },
        "fourthLinerSellingPoint1": {
          "en-US": "Update by Price Range",
          "fr-FR": "Modification par tranche de prix",
        },
        "fourthLinerSellingPoint2": {
          "en-US": "Update by Format",
          "fr-FR": "Modification par format",
        },
        "fourthLinerSellingPoint3": {
          "en-US": "Update by MKM Comment",
          "fr-FR": "Modification par commentaire MKM",
        },
        "fourthLinerSellingPoint4": {
          "en-US": "Set your prices or follow the market",
          "fr-FR": "Fixez vos pris ou suivez le marché",
        },
        "fourthLinerSellingPoint5": {
          "en-US": "Create commercial operations",
          "fr-FR": "Création d'opérations commerciales",
        },
        "fourthLinerSellingPoint6": {
          "en-US": "Price Shield Protection",
          "fr-FR": "Protection Price Shield",
        },
        "fourthLinerSellingPoint7": {
          "en-US": "Email Summary of each modification",
          "fr-FR": "Résumé par mail de chaque modification",
        },
        "fourthLinerSellingPoint8": {
          "en-US": "Mail & Tel Support",
          "fr-FR": "Support Mail & Téléphone",
        },
        "fourthLinerSellingPoint9": {
          "en-US": "",
          "fr-FR": "",
        },
        "fourthLinerSellingPoint10": {
          "en-US": "",
          "fr-FR": "",
        },
        "fourthLinerSellingPoint11": {
          "en-US": "",
          "fr-FR": "",
        },
        "fourthLinerSellingPoint12": {
          "en-US": "",
          "fr-FR": "",
        },
        "fifthLinerCatchPhrase": {
          "en-US": "To learn more",
          "fr-FR": "Pour en savoir plus",
        },
      };

       function translateHomePage(language="en-US"){

        //Document title
        document.title = translations["document.title"][language];

        //  Menu
        document.getElementById("menu.navbar.subscribe").textContent=translations["menu.navbar.subscribe"][language];
        document.getElementById("menu.navbar.register").textContent=translations["menu.navbar.register"][language];
        document.getElementById("menu.navbar.connect").textContent=translations["menu.navbar.connect"][language];

        //responsive menu

         document.getElementById("menu.navbar.subscribeResponsive").textContent=translations["menu.navbar.subscribeResponsive"][language];
        document.getElementById("menu.navbar.registerResponsive").textContent=translations["menu.navbar.registerResponsive"][language];
        document.getElementById("menu.navbar.connectResponsive").textContent=translations["menu.navbar.connectResponsive"][language];

        //Main

        document.getElementById("main-punchline").textContent=translations["main-punchline"][language];
        document.getElementById("subSentence").textContent=translations["subSentence"][language];
        document.getElementById("getStartedFirstButton").textContent=translations["getStartedFirstButton"][language];
        document.getElementById("getStartedSecondButton").textContent=translations["getStartedSecondButton"][language];

        //Selling Points
        
        document.getElementById("sellingPoint1").textContent=translations["sellingPoint1"][language];
        document.getElementById("sellingPoint1Subtext").textContent=translations["sellingPoint1Subtext"][language];
        document.getElementById("sellingPoint2").textContent=translations["sellingPoint2"][language];
        document.getElementById("sellingPoint2Subtext").textContent=translations["sellingPoint2Subtext"][language];
        document.getElementById("sellingPoint3").textContent=translations["sellingPoint3"][language];
        document.getElementById("sellingPoint3Subtext").textContent=translations["sellingPoint3Subtext"][language];

        // Liner 2
        document.getElementById("punchline2").textContent=translations["punchline2"][language];
        document.getElementById("liner2MainSellingArgument").textContent=translations["liner2MainSellingArgument"][language];

        // Liner 4
        document.getElementById("fourthLinerPunchline").textContent=translations["fourthLinerPunchline"][language];
        document.getElementById("fourthLineExplaination").textContent=translations["fourthLineExplaination"][language];
        document.getElementById("fourthLinerSellingPoint1").textContent=translations["fourthLinerSellingPoint1"][language];
        document.getElementById("fourthLinerSellingPoint2").textContent=translations["fourthLinerSellingPoint2"][language];
        document.getElementById("fourthLinerSellingPoint3").textContent=translations["fourthLinerSellingPoint3"][language];
        document.getElementById("fourthLinerSellingPoint4").textContent=translations["fourthLinerSellingPoint4"][language];
        document.getElementById("fourthLinerSellingPoint5").textContent=translations["fourthLinerSellingPoint5"][language];
        document.getElementById("fourthLinerSellingPoint6").textContent=translations["fourthLinerSellingPoint6"][language];
        document.getElementById("fourthLinerSellingPoint7").textContent=translations["fourthLinerSellingPoint7"][language];
        document.getElementById("fourthLinerSellingPoint8").textContent=translations["fourthLinerSellingPoint8"][language];
        // document.getElementById("fourthLinerSellingPoint9").textContent=translations["fourthLinerSellingPoint9"][language];
        // document.getElementById("fourthLinerSellingPoint10").textContent=translations["fourthLinerSellingPoint10"][language];
        // document.getElementById("fourthLinerSellingPoint11").textContent=translations["fourthLinerSellingPoint11"][language];
        // document.getElementById("fourthLinerSellingPoint12").textContent=translations["fourthLinerSellingPoint12"][language];
        
        // Liner 5
        document.getElementById("fifthLinerCatchPhrase").textContent=translations["fifthLinerCatchPhrase"][language];
      };

     
     //Checking if there is a lang saved in localstorage, to boot on
     window.onload = () =>{
       const langToBoot = localStorage.getItem('appLang');
       console.log("langToBoot",langToBoot);
       if(langToBoot){
         translateHomePage(langToBoot);
         if(langToBoot === "en-US"){
           document.getElementById("currentlyDisplayedFlag").src="/flags/25X13/EN.png";
           document.getElementById("currentlyDisplayedFlagResponsive").src="/flags/25X13/EN.png";

           // Translated screenshots
           document.getElementById('firstLinerPicture').src = `/screenshots/All-my-scripts_en-US.png`
           document.getElementById('thirdLinerPicture').src = `/screenshots/Rules_en-US.png`
         }
         else if(langToBoot === "fr-FR"){
           document.getElementById("currentlyDisplayedFlag").src="/flags/25X13/FR.png";
           document.getElementById("currentlyDisplayedFlagResponsive").src="/flags/25X13/FR.png";

           // Translated screenshots
           document.getElementById('firstLinerPicture').src = `/screenshots/All-my-scripts_fr-FR.png`
           document.getElementById('thirdLinerPicture').src = `/screenshots/Rules_fr-FR.png`
         }
       }
     }
    </script>
  </body>
</html>
