<html>
  <head>
    <title>Update your stock prices in one click</title>
    <style>
      :root {
        --main-bg-color: coral;
        --main-bg-color-darker: hsl(16, 90%, 66%);
        --main-bg-color-almost: rgba(255, 127, 80, 0.9);
        --main-bg-color-more: rgba(255, 127, 80, 0.7);
        --main-bg-color-medium: rgba(255, 127, 80, 0.5);
        --main-bg-color-weak: rgba(255, 127, 80, 0.3);
        --background-color: #f9f9f9;
        --border-radius-form-field: 8px;
        --back-office-back-color: rgba(173, 216, 230, 0.8);
      }

      #root {
        background-color: var(--background-color);
      }
      * {
        box-sizing: border-box;
      }

      html {
        font-size: 62.5%;
        margin: 0;
        padding: 0;
      }

      body {
        background-color: lightblue;
        margin: 0;
        padding: 0;
      }

      .container {
        max-width: 70%;
        margin: 0 auto;
      }

      p,
      ul,
      li,
      div,
      td {
        font-size: 1.6rem;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }

      #root {
        min-height: 100vh; /* will cover the 100% of viewport */
        overflow: hidden;
        display: block;
        position: relative;
        padding-bottom: 120px; /* height of the footer */
      }

      .classic-links {
        margin: 1rem;
        padding: 1rem;
        text-decoration: none;
        color: black;
        border-radius: 50px;
      }

      .classic-links:hover {
        background-color: var(--main-bg-color);
        cursor: pointer;
      }

      nav {
        background-color: white;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
      }

      nav > .container {
        display: flex;
        justify-content: space-between;
      }

      .menu-links-left {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .logo-shop-link {
        margin-right: 30px;
      }

      .navbar {
        position: fixed;
        top: 0;
        z-index: 8;
        width: 100%;
        background-color: white;
        min-height: 61px;
      }

      .navbar input[type="search"] {
        border: 1px solid rgba(0, 0, 0, 0.5);
      }

      div.connect {
        display: flex;
      }

      div.connect p {
        padding-left: 2rem;
      }

      .margin-bottom {
        margin-bottom: 7rem;
      }

      .arrow-menu.importedStyle {
        top: 4px;
      }
      .current-app-lang {
        position: relative;
        width: 40px;
        outline: none;
      }

      .flag-drop-down {
        cursor: pointer;
        padding: 5px;
        background-color: var(--background-color);
      }

      .set-lang-choosing {
        position: absolute;
        top: 28px;
        right: 8px;
        left: 0;
        box-shadow: 1px 1px 1px black;
        z-index: 2;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        text-align: center;
      }

      .set-lang-choosing .flag-drop-down:last-child {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }

      .current-app-lang img {
        border-radius: 3px;
        outline: none;
      }

      .current-lang-flag {
        position: absolute;
        cursor: pointer;
        padding-right: 1rem;
        top: 26px;
        margin-left: 0px;
      }

      /* Floating div with flags */
      .importedStyle.set-lang-choosing.lang-select-applevel{
      line-height: 25px;
      top: 18px;
      height : 62px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      background-color: var(--background-color);
      display:none;
      }

      .arrow-app-lang {
        position: absolute;
        right: 0px;
      }

      div.lang-select-applevel {
        width: 35px;
        right: 12px;
        left: -3px;
        outline: none;
      }

      /* Arrow to toggle menu */
      .arrow-menu {
        display: inline-block;
        width: 0;
        height: 0;
        vertical-align: middle;
        content: "";
        border-top-style: solid;
        border-top-width: 4px;
        border-right: 4px solid transparent;
        border-bottom: 0 solid transparent;
        border-left: 4px solid transparent;
        margin-left: 5px;
      }
    </style>
  </head>
  <body>
    <nav class="navbar">
      <div class="container">
        <div class="menu-links-left">
          <a href="/" class="logo-shop-link">
            <img src="/shopLogo.png" />
          </a>
        </div>
        <!-- Penser à ajouter le burger menu en responsive -->
        <div class="not-connected-options">
          <div class="connect">
            <a class="classic-links" id="menu.navbar.subscribe">Subscribe</a>
            <a class="classic-links" id="menu.navbar.register">Register</a>
            <a class="classic-links" id="menu.navbar.connect">Connect</a>
            <div class="current-app-lang" id="currentAppLanguage">
              <div class="current-lang-flag" id="currengFlag">
                <img src="/flags/25X13/en.png" />
                <span class="arrow-menu arrow-app-lang importedStyle"></span>
                <!-- Displaying all flags div -->
                <div class="set-lang-choosing lang-select-applevel importedStyle" id="displayingFlagsDiv">
                   <!-- One language -->
                   <div
                    class="flag-drop-down"
                  >
                    <img
                      src="/flags/25X13/fr.png"
                    />
                  </div>
                   <!-- One language -->
                  <div
                    class="flag-drop-down"
                  >
                    <img
                      src="/flags/25X13/en.png"
                    />
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div className="margin-bottom"></div>
    <h1>Homepage for SSR</h1>
    <script type="text/javascript">


      //Change lang app
      const handleDisplayAllFlagsDiv = document.getElementById('currentAppLanguage').addEventListener('click', (event)=>{
        //set lang in localstorage
        console.log(event);

        //Display div with all flags
        if(document.getElementById('displayingFlagsDiv').style.display ==="flex"){
          document.getElementById('displayingFlagsDiv').style.display ="none";
        }
        else{
          document.getElementById('displayingFlagsDiv').style.display ="flex";
        }
      })


      const defaultPageLanguage = "en-US";
      const translations = {
        "menu.navbar.subscribe": {
          "en-US": "Subscribe",
          "fr-FR": "Tarifs",
        },
        "menu.navbar.register": {
          "en-US": "Register",
          "fr-FR": "S'enregistrer",
        },
        "menu.navbar.connect": {
          "en-US": "Log in",
          "fr-FR": "Se connecter",
        },
      };
    </script>
  </body>
</html>
