<h2>Hello,</h2>
<p>Your script has been completed.</p>

<p>Please find the details in attached file.</p>

<p>
  If you have any question, please answer this mail and we'll get back to you.
</p>

<p>Thanks,</p>
<p>The MTG Interface team</p>
