<h2>Welcome <%= shop.legalName %>,</h2>
<p>You are now registered on <%= process.env.REACT_APP_THIS_WEBSITE_URL %>.</p>
<p>
  Once subscribed, you will be able to launch scripts and update your prices at
  will.
</p>
<p>
  If you have any question, please contact us at support@mkmpriceupdater.com.
</p>
<p>Bests,</p>
<p>The MTG Interface Team</p>
