<h2>Hello,</h2>

<p>
  A request to reset password of your email has been sent. If it was not you,
  you can ignore this email.
</p>

<p>
  To set your new password, please click on the following link : <%=
  process.env.REACT_APP_PUBLIC_URL+"/usermail/setNewPassword/"+challenge %>
</p>

<p>Thank you,</p>
<p><%= process.env.REACT_APP_SHOP_NAME %></p>
