<h2>Hello,</h2>
<p>Your script has been completed.</p>

<p>
  The script affected 0 card. This can happen for several reasons :
  <ul>
    <li>No card had the mentionned keywords</li>
    <li>No card had the corresponding format in the mentionned keywords</li>
  </ul>
</p>

<p>You can check the parameters you used in the script, change them, and launch it again.</p>

<p>You will find the details in attached file.</p>

<p>
  If you have any question, please answer this mail and we'll get back to you.
</p>

<p>Thanks,</p>
<p>The MTG Interface team</p>
