:root {
  --height-between-2-rules: 150px;
  --size-CTA: 70px;
  --size-CTA-hovered: 80px;
}

/**************************
*****CREATE SCRIPT*********
**************************/

.left-part .main-title {
  margin-top: 20px;
}
.second-menu-scripts {
  z-index: 5;
}

.basedOnSelection {
  display: flex;
  justify-content: center;
}

.basedOnHelperText > div {
  margin-top: 2px;
  width: 60%;
  padding: 8px;
  background-color: rgb(248, 225, 162);
  border: 1px solid rgb(241, 121, 52);
  display: flex;
  justify-content: space-between;
}

.svgContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.partContainer {
  display: flex;
  flex-direction: column;
}
.formatSelection .MuiFormControl-root {
  margin-top: -20px;
}
.formatSelection .partForm {
  height: 40.87px;
}
.partForm [data-shrink="false"],
.keywordAdder [data-shrink="false"] {
  font-size: 14px;
}
.formatSelection div.part-title {
  margin-top: 20px;
}

.partForm .MuiInputBase-input {
  font-size: 14px;
}

.partForm .MuiChip-label {
  font-size: 14px;
}

.keywordAdder .MuiInputBase-input {
  font-size: 14px;
}

.basedOnSelection .partForm {
  display: flex;
  justify-content: center;
}
.basedOnSelection .partForm .MuiFormGroup-row {
  width: 300px;
  flex-direction: column;
}
.basedOnSelection .partForm .MuiFormGroup-row label {
  display: block;
  text-align: left;
}
.basedOnSelection .partForm .MuiTypography-root {
  font-size: 14px;
}

.behaviourSelect .partForm {
  display: flex;
  justify-content: center;
}

.behaviourSelect .partForm .MuiFormGroup-row {
  width: 300px;
  flex-direction: column;
}
.behaviourSelect .partForm .MuiFormGroup-row label {
  display: block;
  text-align: left;
}
.behaviourSelect .partForm .MuiTypography-root {
  font-size: 14px;
}

.basedOnHelperText svg {
  width: 100px;
  font-size: 30px;
  color: #fda400;
}

.keywordAdder > .MuiFormControl-root.MuiTextField-root {
  width: 220px;
}

.behaviourSelect {
  display: flex;
  justify-content: center;
}

.keywordList .partForm {
  display: flex;
  justify-content: center;
}

.keywordList .partForm .MuiPaper-root {
  width: 50%;
}

.chipsPlaceHolderNoKeywords {
  position: absolute;
  top: 5px;
  font-size: 14px;
}
.keywordAdder {
  display: flex;
  justify-content: center;
}

.keywordAdder .keywordAdderContainer {
  max-height: 50px;
  align-self: center;
}

.keywordAdder svg.MuiSvgIcon-root {
  font-size: 3rem;
}

.partForm {
  width: 100%;
}
.keywordHelper > div {
  margin-top: 2px;
  padding: 8px;
  background-color: rgb(248, 225, 162);
  border: 1px solid rgb(241, 121, 52);
  display: flex;
  justify-content: space-between;
}

.keywordHelper svg {
  width: 100px;
  font-size: 30px;
  color: #fda400;
}

.column-definitions {
  background-color: #f9f9f9;
  z-index: 5;
  box-shadow: 1px 1px 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.column-definitions .columnTitles {
  font-size: 2rem;
}

.scriptNameEdition {
  background-color: white;
  margin-left: 20px;
  width: 350px;
}

.scriptNameEdition input.MuiInputBase-input.MuiOutlinedInput-input {
  height: 0;
  text-align: left;
}

.main-buttons-menu {
  display: flex;
  max-height: 30px;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

label + .MuiInput-formControl {
  margin-bottom: 16px;
}

button.button-second-navbar {
  margin-left: 30px;
}

.column-definitions p {
  margin: 0;
  width: 50%;
}

.parts-container {
  display: flex;
  justify-content: center;
}
.parts-container > .left-part {
  width: 30%;
  height: 1000px;
  background-color: white;
  box-shadow: 1px 1px 1px black;
}

.parts-container > .right-part {
  width: 70%;
}

.left-part .part-title {
  width: 100%;
  margin: 0 50px;
  text-transform: uppercase;
  font-weight: bold;
}

.left-part .part-title p {
  font-size: 1.5rem;
  text-align: left;
}

.right-part .sectionTitle {
  text-align: left;
  width: 80%;
  margin: 0 auto;
}
.right-part .sectionTitle p {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0;
  font-size: 2rem;
}

.helperTextCustomRules {
  font-style: italic;
  margin-bottom: 20px;
}

.regularRulesContainer,
.foilRulesContainer {
  margin-top: 20px;
}

/* *** */
/* RULE */
/* *** */

.ruleContainer {
  position: relative;
  /* border: 1px solid black; */
  margin: 5px auto 0;
  width: 80%;
  /* max-height: 57px; */
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
}

.ruleContainer:hover {
  background-color: rgb(243 246 247);
}

.ruleContainer .ruleMainBody {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px;
}
.ruleContainer .ruleMainBody p {
  margin: 0;
}

.hidden-rule-adder {
  height: 0;
  transition: height 1s;
}

.display-rule-adder {
  height: 50px;
}

.deleteButton {
  position: absolute;
  top: 25px;
  right: 10px;
}

p.from {
  margin-left: 30px;
}

.fromToText {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

.helperTextCustomRules {
  font-size: 12px;
}

div.inputValueNumber {
  width: 70px;
  background-color: white;
  margin: 0 5px;
}

.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-formControl {
  border-radius: 3px;
}

.ruleContainer .MuiOutlinedInput-input {
  padding: 10px 10 px;
}

.ruleType-choice {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 0 20px;
}

input.MuiInputBase-input.MuiOutlinedInput-input {
  text-align: center;
  height: 0;
}

.setValueFixPrice {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-custom-rule {
  background-color: #ff3434ab;
}

.error-custom-rule p,
.error-custom-rule ul {
  margin: 0;
}

.error-rule-explaination {
  color: #750000;
  font-weight: bold;
  font-size: 12px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

/* ************ */
/** BELOW RULE **/
/* ************ */

.asideRule {
  position: absolute;
  right: -40px;
  top: 3px;
}

.twoBlocksContainer {
  display: flex;
  justify-content: center;
  position: relative;
}

.twoBlocksContainer .div1left {
  width: 50%;
  height: 50px;
  /* border-right: 1px solid blue; */
}

.twoBlocksContainer .div2right {
  width: 50%;
  height: 50px;
  /* border-left: 1px solid blue; */
}

.twoBlocksContainer .div1left.hasErrors {
  /* border-right: 2px solid red; */
}

.twoBlocksContainer .div2right.hasErrors {
  /* border-left: 2px solid red; */
}

button.onSeparatedDivButton {
  position: absolute;
  top: 20px;
  z-index: 3;
}

/* .whiteDivFillMuiIcon {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  top: 21px;
  z-index: 2;
  height: 10px;
  width: 10px;
} */

/********************/
/*********MUI*******/
/********************/
/* Text on select options */
.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-formControl {
  font-size: 16px;
}

/* Label on grey that acts like placeholder */
.MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-shrink.MuiInputLabel-outlined.MuiFormLabel-filled {
  font-size: 20px;
}

@keyframes moveBuddy {
  0% {
    width: var(--size-CTA);
    height: var(--size-CTA);
  }
  100% {
    width: var(--size-CTA-hovered);
    height: var(--size-CTA-hovered);
  }
}
