.navbar-settings {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 61px;
  height: 61px;
  align-items: center;
  width: 100%;
  background-color: #f9f9f9;
  z-index: 5;
  box-shadow: 1px 1px 1px #d3d3d3;
}

.settings-container {
  width: 70%;
  margin: 141px auto 0;
}

.settings-table tr > th:first-child,
.settings-table tr > td:first-child {
  width: 70%;
}

.zebra-table tbody tr:nth-child(odd) {
  background-color: hsla(0, 0%, 0%, 0.09);
}

.zebra-table tbody tr:hover {
  background-color: #8f9ada;
}

.input-percents {
  width: 60px;
  background-color: white;
}

@media only screen and (max-width: 768px) {
  .zebra-table tr {
    height: 120px;
  }
  .settings-table tr > th:first-child,
  .settings-table tr > td:first-child {
    width: 100%;
    margin-bottom: 20px;
  }
}
