/**************************
*********LOGIN PAGE********
**************************/

.login-page {
  height: 50vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-page > div {
  margin: auto;
  width: 100%;
}

div.connecting-button {
  width: 30%;
  margin: 2rem auto;
}

.connecting-button {
  padding: 1.5rem;
  font-size: 1.4rem;
  margin-top: 0.5rem;
  border-radius: 5px;
  border: none;
  background-color: var(--main-bg-color-almost);
  color: white;
  outline: none;
  cursor: pointer;
}

.connecting-button:hover {
  color: white;
  background-color: var(--main-bg-color);
}

.connecting-button:active {
  background-color: var(--main-bg-color-darker);
}

.login-form input {
  margin: 1rem;
}

.login-form label {
  display: block;
}

.login-form input {
  width: 30%;
  padding: 1.8rem;
  font-size: 2rem;
  border-radius: var(--border-radius-form-field);
  border: 1px solid lightgrey;
  text-align: center;
}

.forgotten-password {
  margin-top: 2rem;
}
.forgotten-password span {
  font-size: 1.2rem;
  color: blue;
  cursor: pointer;
}

.forgotten-password a {
  text-decoration: none;
}
.forgotten-password:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 1000px) {
  .field-form input,
  .login-form input,
  .my-account textarea {
    width: 80%;
    font-size: 1.8rem;
  }
  .connecting-button {
    padding: 2rem;
    font-size: 1.4rem;
  }
}

/**************************
*******RESET MAIL PAGE******
**************************/

div.reset-password {
}

form.reset-password-form {
  margin-top: 2rem;
}

form.reset-password-form input {
  margin-top: 2rem;
}
form.reset-password-form button {
  margin-top: 2rem;
}

/**************************
*******REGISTER PAGE*******
**************************/
.RegisterLoader {
  margin-top: 30px;
}

/**************************
*********NAVBAR***********
**************************/

nav {
  background-color: white;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

nav > .container {
  display: flex;
  justify-content: space-between;
}

.responsive_menu ul,
ul.toggle-menu {
  list-style-type: none;
  padding: 0;
}

div.connect {
  display: flex;
}

div.connect p {
  padding-left: 2rem;
}

.burger-menu {
  display: none;
}

.my_options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.desktop_menu_options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my_options .nav-element {
  margin: 0 1rem;
}

.toggle-menu-container {
  position: relative;
}

.unclick {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.toggle-menu {
  margin: 0;
  position: absolute;
  z-index: 2;
  top: 25px;
  width: 140px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  background-color: white;
}

.toggle-menu li {
  padding: 1rem;
  text-align: left;
  cursor: pointer;
}

.toggle-menu li:hover {
  color: white;
  background-color: var(--main-bg-color-medium);
}

.toggle-menu a:first-child li {
  padding: 1rem;
  text-align: left;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.toggle-menu > li:last-child {
  padding: 1rem;
  text-align: left;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.toggle-menu-links {
  text-decoration: none;
  color: black;
}

.toggle-menu-links:hover {
  color: white;
}

.logo-shop-link {
  margin-right: 30px;
}

.logo-shop-link:hover {
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
  background-color: white;
}

.navbar input[type="search"] {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.margin-bottom {
  margin-bottom: 7rem;
}

.current-app-lang {
  position: relative;
  width: 40px;
  outline: none;
}

.current-app-lang img {
  border-radius: 3px;
  outline: none;
}

.current-lang-flag {
  position: absolute;
  top: 22px;
  cursor: pointer;
  padding-right: 1rem;
}

.arrow-app-lang {
  position: absolute;
  right: 0px;
  top: 8px;
}

div.lang-select-applevel {
  width: 35px;
  right: 12px;
  left: -5px;
  outline: none;
}

/* Arrow to toggle menu */
.arrow-menu {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  content: "";
  border-top-style: solid;
  border-top-width: 4px;
  border-right: 4px solid transparent;
  border-bottom: 0 solid transparent;
  border-left: 4px solid transparent;
  margin-left: 5px;
}

/* Responsive options for Menu */

.responsive_menu {
  position: fixed;
  top: 8rem;
  bottom: 0;
  height: 45vh;
  width: 30vw;
  right: 0;
  background-color: white;
  z-index: 5;
}

.authenticated-menu {
  height: 70vh;
}

.divider {
  display: block;
  width: 65%;
  margin: auto;
}

.classic_links_responsive {
  text-decoration: none;
  color: black;
  display: block;
  text-align: center;
  padding: 3rem 0;
  margin-left: 0;
}

.burgerMenuCustomer-select-lang {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 1000px) {
  div.connect {
    display: none;
  }
  .not-connected-options {
    display: flex;
    align-items: center;
  }
  .burger-menu {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 30px;
    margin-right: 35px;
  }

  .burger-menu img {
    width: 40px;
  }
  .responsive-basket-quantity {
    position: absolute;
    bottom: -4px;
    right: -7px;
    background-color: red;
    border-radius: 50%;
    width: 20px;
  }

  .desktop_menu_options {
    display: none;
  }

  .surname_responsive {
    margin: 1rem;
    font-size: 4rem;
  }
  .responsive_menu {
    border-radius: 5px;
    animation-duration: 0.25s;
    animation-name: slidein1000;
  }
}
@media only screen and (max-width: 850px) {
  .responsive_menu {
    width: 40vw;
  }
  .responsive_menu {
    animation-duration: 0.25s;
    animation-name: slidein850;
  }
}
@media only screen and (max-width: 750px) {
  .responsive_menu {
    animation-duration: 0.25s;
    animation-name: slidein750;
  }
}
@media only screen and (max-width: 650px) {
  .big-screen-info {
    display: none;
  }

  .responsive_menu {
    animation-duration: 0.25s;
    animation-name: slidein650;
  }
}
@media only screen and (max-width: 550px) {
  .responsive_menu {
    width: 50vw;
  }
  .responsive_menu {
    animation-duration: 0.25s;
    animation-name: slidein550;
  }
}
@media only screen and (max-width: 500px) {
  .responsive_menu {
    width: 60vw;
    animation-duration: 0.25s;
    animation-name: slidein500;
  }
  .margin-bottom {
    margin-bottom: 9rem;
  }
}
@media only screen and (max-width: 450px) {
  .responsive_menu {
    animation-duration: 0.25s;
    animation-name: slidein500;
    height: 55vh;
  }
}

@keyframes slidein1000 {
  from {
    right: -500%;
  }

  to {
    right: 0%;
  }
}
@keyframes slidein850 {
  from {
    right: -500%;
  }

  to {
    right: 0%;
  }
}
@keyframes slidein750 {
  from {
    right: -500%;
  }

  to {
    right: 0;
  }
}
@keyframes slidein650 {
  from {
    right: -500%;
  }

  to {
    right: 0;
  }
}
@keyframes slidein550 {
  from {
    right: -500%;
  }

  to {
    right: 0;
  }
}
@keyframes slidein500 {
  from {
    right: -500%;
  }

  to {
    right: 0;
  }
}
