/**************************
********GENERAL************
**************************/
* {
  box-sizing: border-box;
}

:root {
  --main-bg-color: coral;
  --main-bg-color-darker: hsl(16, 90%, 66%);
  --main-bg-color-almost: rgba(255, 127, 80, 0.9);
  --main-bg-color-more: rgba(255, 127, 80, 0.7);
  --main-bg-color-medium: rgba(255, 127, 80, 0.5);
  --main-bg-color-weak: rgba(255, 127, 80, 0.3);
  --background-color: #f9f9f9;
  --border-radius-form-field: 8px;
  --back-office-back-color: rgba(173, 216, 230, 0.8);
}

html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 70%;
  margin: 0 auto;
}

.container-table-responsive {
  max-width: 70%;
  margin: 0 auto;
}

#root {
  background-color: var(--background-color);
}

.center-text {
  text-align: center;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.cursor-pointer {
  cursor: pointer;
}

.display-inline-block {
  display: inline-block;
}

p,
ul,
li,
div,
td {
  font-size: 1.6rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.classic-links {
  margin: 1rem;
  padding: 1rem;
  text-decoration: none;
  color: black;
  border-radius: 50px;
}

.classic-links:hover {
  background-color: var(--main-bg-color);
  cursor: pointer;
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}

.pointer {
  cursor: pointer;
}

.subInfos {
  display: block;
  font-size: 2rem;
  font-weight: bold;
}

.text-center {
  text-align: center;
}

h1,
h2 {
  margin-top: 0;
}

#root {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 120px; /* height of the footer */
}

.small-text {
  font-size: 1.2rem;
}

.margin-top-2rem {
  margin-top: 2rem;
}

.transparent-div {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

.bold {
  font-weight: bold;
}

.blackDiv {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0);
  opacity: 0.5;
  animation: blackDivAppearing 0.5s;
}
@keyframes blackDivAppearing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

.loading-loop {
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
}
.loading-loop:after {
  content: " ";
  display: block;
  width: 1rem;
  height: 1rem;
  margin: 0;
  border-radius: 50%;
  border: 3px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 1000px) {
  #root {
    padding-bottom: 220px;
    min-height: 1000px;
  }
  .container-table-responsive {
    max-width: 100%;
  }

  .loading-loop {
    display: inline-block;
    width: 1.4rem;
    height: 1.4rem;
  }
  .loading-loop:after {
    content: " ";
    display: block;
    width: 1rem;
    height: 1rem;
    margin: 0;
    border-radius: 50%;
    border: 2px solid #000;
    border-color: #000 transparent #000 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
@media only screen and (max-width: 850px) {
  #root {
    padding-bottom: 320px;
  }
}

@media only screen and (max-width: 650px) {
  .container {
    max-width: 95%;
    width: 95%;
  }
}

@media only screen and (max-width: 640px) {
  .loading-loop {
    display: inline-block;
    width: 1.4rem;
    height: 1.4rem;
  }
  .loading-loop:after {
    content: " ";
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0;
    border-radius: 50%;
    border: 4px solid #000;
    border-color: #000 transparent #000 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

/**************************
********ICONS************
**************************/

.featherIcon {
  color: black;
}

.downsize-icon {
  margin-bottom: -5px;
}

/**************************
********LOADERS************
**************************/

.one-line-loader {
  margin-bottom: -7px;
}

.margin-top-negative-loader {
  margin-top: 5px;
  margin-left: 0;
  text-align: left;
}
.lds-roller {
  margin-top: -15px;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #000;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/**************************
*********LOGIN PAGE********
**************************/

.login-page {
  height: 50vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-page > div {
  margin: auto;
  width: 100%;
}

div.connecting-button {
  width: 30%;
  margin: 2rem auto;
}

.connecting-button {
  padding: 1.5rem;
  font-size: 1.4rem;
  margin-top: 0.5rem;
  border-radius: 5px;
  border: none;
  background-color: var(--main-bg-color-almost);
  color: white;
  outline: none;
  cursor: pointer;
}

.connecting-button:hover {
  color: white;
  background-color: var(--main-bg-color);
}

.connecting-button:active {
  background-color: var(--main-bg-color-darker);
}

.login-form input {
  margin: 1rem;
}

.login-form label {
  display: block;
}

.login-form input {
  width: 30%;
  padding: 1.8rem;
  font-size: 2rem;
  border-radius: var(--border-radius-form-field);
  border: 1px solid lightgrey;
  text-align: center;
}

.forgotten-password {
  margin-top: 2rem;
}
.forgotten-password span {
  font-size: 1.2rem;
  color: blue;
  cursor: pointer;
}

.forgotten-password a {
  text-decoration: none;
}
.forgotten-password:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 1000px) {
  .field-form input,
  .login-form input,
  .my-account textarea {
    width: 80%;
    font-size: 1.8rem;
  }
  .connecting-button {
    padding: 2rem;
    font-size: 1.4rem;
  }
}

/**************************
*******RESET MAIL PAGE******
**************************/

div.reset-password {
}

form.reset-password-form {
  margin-top: 2rem;
}

form.reset-password-form input {
  margin-top: 2rem;
}
form.reset-password-form button {
  margin-top: 2rem;
}

/**************************
******ALL MY SCRIPTS*******
**************************/
.all-my-scripts table {
  margin: 0 auto;
}

.all-my-scripts table a {
  text-decoration: none;
  color: black;
}
.all-my-scripts table a:hover {
  text-decoration: underline;
}

.all-my-scripts-link-to-script {
  text-align: left;
}

/* div.MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded {
  top: 110px !important;
} */

.MuiListItemText-root.format-select
  .MuiTypography-root.MuiListItemText-primary.MuiTypography-body1.MuiTypography-displayBlock {
  font-size: 16px;
}

.marginHeight20px {
  margin: 20px 0;
}

/**************************
*******REGISTER PAGE*******
**************************/
.RegisterLoader {
  margin-top: 30px;
}

/**************************
********MY ACCOUNT*******
**************************/
.my-account input,
.my-account textarea {
  margin: 0.5rem auto;
  display: block;
  border-radius: var(--border-radius-form-field);
  border: 1px solid lightgrey;
  padding: 1.8rem;
  font-size: 2rem;
  text-align: center;
  width: 30%;
}

.my-account button {
  margin-top: 2rem;
}

@media only screen and (max-width: 1000px) {
  .my-account input,
  .my-account textarea {
    width: 80%;
  }
}

/**************************
*********NAVBAR***********
**************************/

nav {
  background-color: white;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

nav > .container {
  display: flex;
  justify-content: space-between;
}

.responsive_menu ul,
ul.toggle-menu {
  list-style-type: none;
  padding: 0;
}

div.connect {
  display: flex;
}

div.connect p {
  padding-left: 2rem;
}

.burger-menu {
  display: none;
}

.my_options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.desktop_menu_options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my_options .nav-element {
  margin: 0 1rem;
}

.toggle-menu-container {
  position: relative;
}

.unclick {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.toggle-menu {
  margin: 0;
  position: absolute;
  z-index: 6;
  top: 55px;
  width: 140px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  background-color: white;
}

.toggle-menu li {
  padding: 1rem;
  text-align: left;
  cursor: pointer;
  line-height: 30px;
}

.toggle-menu li:hover {
  color: white;
  background-color: var(--main-bg-color-medium);
}

.toggle-menu a:first-child li {
  padding: 1rem;
  text-align: left;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.toggle-menu > li:last-child {
  padding: 1rem;
  text-align: left;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.toggle-menu-links {
  text-decoration: none;
  color: black;
}

.toggle-menu-links:hover {
  color: white;
}

.logo-shop-link {
  margin-right: 30px;
}

.logo-shop-link:hover {
}

.menu-links-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 8;
  width: 100%;
  background-color: white;
  min-height: 61px;
}

.navbar input[type="search"] {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.margin-bottom {
  margin-bottom: 7rem;
}

.current-app-lang {
  position: relative;
  width: 40px;
  outline: none;
}

.flag-drop-down {
  cursor: pointer;
  padding: 3px;
  background-color: var(--background-color);
}

.set-lang-choosing {
  position: absolute;
  top: 28px;
  right: 8px;
  left: 0;
  box-shadow: 1px 1px 1px black;
  z-index: 2;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.set-lang-choosing .flag-drop-down:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.current-app-lang img {
  border-radius: 3px;
  outline: none;
}

.current-lang-flag {
  position: absolute;
  cursor: pointer;
  padding-right: 1rem;
}

.arrow-app-lang {
  position: absolute;
  right: 0px;
}

div.lang-select-applevel {
  width: 35px;
  right: 12px;
  left: -5px;
  outline: none;
}

/* Arrow to toggle menu */
.arrow-menu {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  content: "";
  border-top-style: solid;
  border-top-width: 4px;
  border-right: 4px solid transparent;
  border-bottom: 0 solid transparent;
  border-left: 4px solid transparent;
  margin-left: 5px;
}

/* Responsive options for Menu */

.responsive_menu {
  position: fixed;
  top: 8rem;
  bottom: 0;
  height: 45vh;
  width: 30vw;
  right: 0;
  background-color: white;
  z-index: 5;
}

.authenticated-menu {
  height: 70vh;
}

.divider {
  display: block;
  width: 65%;
  margin: auto;
}

.classic_links_responsive {
  text-decoration: none;
  color: black;
  display: block;
  text-align: center;
  padding: 3rem 0;
  margin-left: 0;
}

.burgerMenuCustomer-select-lang {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 1000px) {
  div.connect {
    display: none;
  }
  .not-connected-options {
    display: flex;
    align-items: center;
  }
  .burger-menu {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 30px;
    margin-right: 35px;
  }

  .burger-menu img {
    width: 40px;
  }
  .responsive-basket-quantity {
    position: absolute;
    bottom: -4px;
    right: -7px;
    background-color: red;
    border-radius: 50%;
    width: 20px;
  }

  .desktop_menu_options {
    display: none;
  }

  .surname_responsive {
    margin: 1rem;
    font-size: 4rem;
  }
  .responsive_menu {
    border-radius: 5px;
    animation-duration: 0.25s;
    animation-name: slidein1000;
  }
}
@media only screen and (max-width: 850px) {
  .responsive_menu {
    width: 40vw;
  }
  .responsive_menu {
    animation-duration: 0.25s;
    animation-name: slidein850;
  }
}
@media only screen and (max-width: 750px) {
  .responsive_menu {
    animation-duration: 0.25s;
    animation-name: slidein750;
  }
}
@media only screen and (max-width: 650px) {
  .big-screen-info {
    display: none;
  }

  .responsive_menu {
    animation-duration: 0.25s;
    animation-name: slidein650;
  }
}
@media only screen and (max-width: 550px) {
  .responsive_menu {
    width: 50vw;
  }
  .responsive_menu {
    animation-duration: 0.25s;
    animation-name: slidein550;
  }
}
@media only screen and (max-width: 500px) {
  .responsive_menu {
    width: 60vw;
    animation-duration: 0.25s;
    animation-name: slidein500;
  }
  .margin-bottom {
    margin-bottom: 9rem;
  }
}
@media only screen and (max-width: 450px) {
  .responsive_menu {
    animation-duration: 0.25s;
    animation-name: slidein500;
    height: 55vh;
  }
}

@keyframes slidein1000 {
  from {
    right: -500%;
  }

  to {
    right: 0%;
  }
}
@keyframes slidein850 {
  from {
    right: -500%;
  }

  to {
    right: 0%;
  }
}
@keyframes slidein750 {
  from {
    right: -500%;
  }

  to {
    right: 0;
  }
}
@keyframes slidein650 {
  from {
    right: -500%;
  }

  to {
    right: 0;
  }
}
@keyframes slidein550 {
  from {
    right: -500%;
  }

  to {
    right: 0;
  }
}
@keyframes slidein500 {
  from {
    right: -500%;
  }

  to {
    right: 0;
  }
}

/**************************
*********MKM MODAL***********
**************************/

.MKM_modal_Connection {
  position: absolute;
  top: 50px;
  background-color: #fff;
  width: 151.9px;
  height: 100px;
  opacity: 1;
  border-radius: 4px;
  transition: opacity 0.25s, top 0.25s;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  cursor: default;
}

.transition-on {
  top: 30px;
  opacity: 0;
}

@media only screen and (max-width: 1000px) {
}

/**************************
**MKM Connexion Indicator**
**************************/
.mkm-connexion-indicator {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;
}

status-indicator {
  margin-left: 10px;
  margin-bottom: 2px;
  cursor: pointer;
}

.connexion-text {
  font-size: 10px;
}

.mkm-connexion-indicator .MuiButton-label {
  margin: 5px;
}

/**************************
*********FOOTER***********
**************************/

.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100px;
  border-top: 1px solid lightgrey;
  z-index: 1;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer a {
  text-decoration: none;
  color: black;
}

.footer a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 1000px) {
  .footer {
    height: 200px;
  }
}
@media only screen and (max-width: 850px) {
  .footer {
    height: 300px;
  }
  .footer-container {
    flex-direction: column;
  }
}
